@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="left">
        <div class="navbar">
        <div class="navbar-inner">
            <span class="brand">Источники данных</span>
            <div class="columnButtons">
                <a href="#addNewDB" role="button" class="btn btn-success" data-toggle="modal">Загрузить...</a>
                <a href="#" role="button" class="btn btn-danger">Удалить</a>
            </div>
        </div>
    </div>
 
    <div class="modal hide" id="addNewDB" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Загрузить источник данных</h3>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("AddDataBase", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "AddWallForm" }))
            {
                <label>Описание поля</label>
                <input type="text" placeholder="Введите текст…" name="name" id="dataBaseName">
                <div>
                    <input type="file" accept=".sdf" class="FieldTextWall" id="FileCheck" name="filePath" />
                </div>
                <button type="submit" class="btn btn-primary" type="button" alt="Add Message" id="AddMessageButton">Default button</button>
            }
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
            <button type="submit" class="btn btn-primary">Дальше</button>
        </div>
    </div>

    <select size="2" class="selectData">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
</div>

<div id="right">
    <div class="navbar">
        <div class="navbar-inner">
            <span class="brand">Меры</span>
            <div class="columnButtons">
                <a href="#addNewMeasure" role="button" class="btn btn-success" data-toggle="modal">Добавить...</a>
                <a href="#" role="button" class="btn btn-danger">Удалить</a>
            </div>
        </div>
    </div>

    <div class="modal hide" id="addNewMeasure" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Добавить меру</h3>
        </div>
        <div class="modal-body">
            <label>Введите название</label>
            <input type="text" placeholder="Введите текст…">
            <label>Выберите поле</label>
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
             </select>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
            <button class="btn btn-primary">Добавить</button>
        </div>
    </div>

     <select size="2" class="selectData">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
</div>

<div id="center">
    <div class="navbar">
        <div class="navbar-inner">
            <span class="brand">Измерения</span>
            <div class="columnButtons">
                <a href="#addNewDimension" role="button" class="btn btn-success" data-toggle="modal">Добавить...</a>
                <a href="#" role="button" class="btn btn-danger">Удалить</a>
            </div>
        </div>
    </div>

    <div class="modal hide" id="addNewDimension" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Добавить измерение</h3>
        </div>
        <div class="modal-body">
            <label>Введите название</label>
            <input type="text" placeholder="Введите текст…">
            <label>Выберите таблицу</label>
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
             </select>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
            <button class="btn btn-primary">Добавить</button>
        </div>
    </div>

    @*<h5 class="columnLabel">Измерения</h5>
    <div class="columnButtons">
        <a href="#" role="button" class="btn btn-success">Добавить...</a>
        <a href="#" role="button" class="btn btn-danger">Удалить</a>
    </div>*@
    <select size="2" class="selectData">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
</div>

<script>
    $("#ManageNav").addClass("active");
</script>
