@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Scripts.Render("~/Scripts/bootstrap.file-input.js")
}

<div id="left">
        <div class="navbar">
        <div class="navbar-inner">
            <span class="brand">Источники данных</span>
            <div class="columnButtons">
                <a href="#addNewDB" role="button" class="btn btn-success" data-toggle="modal">Загрузить...</a>
                <a href="#" id="delDB" role="button" class="btn btn-danger disabled">Удалить</a>
            </div>
        </div>
    </div>
 
    <div class="modal hide" id="addNewDB" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Загрузить источник данных</h3>
        </div>
        <div class="modal-body">
            <div id="loadDBError" class="alert alert-error hide">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Ошибка!</strong> Все поля должны быть заполнены.
            </div>
            @using (Html.BeginForm("AddDataBase", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "AddWallForm" }))
            {
                <label>Введите имя</label>
                <input type="text" placeholder="Введите текст…" name="name" id="dataBaseName">
                <br />
                <div>
                    <input type="file" accept=".sdf" class="FieldTextWall" id="FileCheck" title="Обзор..." name="filePath"/>
                </div>
            }
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
            <button id="loadDB" class="btn btn-primary">Загрузить</button>
        </div>
    </div>

    <select id="SelDB" size="2" class="selectData">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
</div>

<div id="right">
    <div class="navbar">
        <div class="navbar-inner">
            <span class="brand">Меры</span>
            <div class="columnButtons">
                <a href="#addNewMeasure" role="button" class="btn btn-success" data-toggle="modal">Добавить...</a>
                <a href="#" id="delMeas" role="button" class="btn btn-danger disabled">Удалить</a>
            </div>
        </div>
    </div>

    <div class="modal hide" id="addNewMeasure" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Добавить меру</h3>
        </div>
        <div class="modal-body">
            <label>Введите название</label>
            <input type="text" placeholder="Введите текст…">
            <label>Выберите поле</label>
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
             </select>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
            <button class="btn btn-primary">Добавить</button>
        </div>
    </div>

     <select id="SelMeas" size="2" class="selectData">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
</div>

<div id="center">
    <div class="navbar">
        <div class="navbar-inner">
            <span class="brand">Измерения</span>
            <div class="columnButtons">
                <a href="#addNewDimension" role="button" class="btn btn-success" data-toggle="modal">Добавить...</a>
                <a href="#" id="delDim" role="button" class="btn btn-danger disabled">Удалить</a>
            </div>
        </div>
    </div>

    <div class="modal hide" id="addNewDimension" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Добавить измерение</h3>
        </div>
        <div class="modal-body">
            <label>Введите название</label>
            <input type="text" placeholder="Введите текст…">
            <label>Выберите таблицу</label>
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
             </select>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
            <button class="btn btn-primary">Добавить</button>
        </div>
    </div>

    @*<h5 class="columnLabel">Измерения</h5>
    <div class="columnButtons">
        <a href="#" role="button" class="btn btn-success">Добавить...</a>
        <a href="#" role="button" class="btn btn-danger">Удалить</a>
    </div>*@
    <select id="SelDim" size="2" class="selectData">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
</div>

<script>
    $("#ManageNav").addClass("active");

    $("#loadDB").click(function () {
        var str = $("#dataBaseName").val();
        str = $.trim(str);
        if (!str || !$("#FileCheck").val()) {
            $("#loadDBError").show();
            $("#dataBaseName").focus();
        } else {
            document.forms[0].submit();
        }
    });

    $("#SelDB").change(function () {
        //$("#SelDB option:selected").val();
            $("#delDB").removeClass("disabled");
    });

    $("#SelDim").change(function () {
        $("#delDim").removeClass("disabled");
    });

    $("#SelMeas").change(function () {
        $("#delMeas").removeClass("disabled");
    });
</script>
